-
	pages = [
		{
			"title": "Главная",
			"link": "index.html"
		},
		{
			"title": "Подбор квартир",
			"link": "choice-flat.html"
		},
		{
			"title": "Карточка вартиры",
			"link": "flat-card.html"
		},
		{
			"title": "Парковки",
			"link": "parking.html"
		},
		{
			"title": "PDF",
			"link": "pdf.html"
		},
		{
			"title": "Текстовая страница",
			"link": "textpage.html"
		},
	],
	menu = {
		"big": [
			{	
				"title": "главная",
				"link": "index.html",
			},
			{	
				"title": "Подбор квартиры",
				"link": "choice-flat.html",
			},
			{	
				"title": "парковки",
				"link": "parking.html",
			},
		],
		"small": [
			{
				"title": "расположение ЖК",
				"link": "#history"
			},
			{
				"title": "подбор на генплане",
				"link": "#plan"
			},
			{
				"title": "Архитектура",
				"link": "#architecture"
			},
					{
				"title": "Ход строительства",
				"link": "#dynamic"
			},
		],
		"bottom": {
			"title": "Офис продаж",
			"address": "г. Нижний Новгород, ул. Маслякова, д. 10",
			"phone": "8 929 012 19 23",
		}
	},
	slider = {
		"home": [
			{
				"title": "дом премиум класса",
				"address": "на ул. Октябрьская",
				"slots": "всего 37 лотов",
				"link": "Подробнее",
			},
			{
				"title": "дом премиум класса",
				"address": "на ул. Октябрьская",
				"slots": "всего 37 лотов",
				"link": "Подробнее",
			},
			{
				"title": "дом премиум класса",
				"address": "на ул. Октябрьская",
				"slots": "всего 37 лотов",
				"link": "Подробнее",
			},
			{
				"title": "дом премиум класса",
				"address": "на ул. Октябрьская",
				"slots": "всего 37 лотов",
				"link": "Подробнее",
			}
		],
		"history": [
			{
				"title": "Нижегородский кремль"
			},
			{
				"title": "ул. Большая Покровская"
			},
			{
				"title": "Нижегородский кремль"
			},
		],
		"architecture": [
			{
				"title": "Авторская архитектура",
				"descr": "Уникальный узнаваемый силуэт дома сформировался за счёт влияния окружающей исторической и современной застройки."
			},
			{
				"title": "премиальные материалы",
				"descr": "На парадном фасаде архитектурная композиция из трёх резалитов выполнена из премиальной серии лицевого кирпича разной фактуры и в разной цветовой гамме, а основная часть фасада — это серебристые алюминиевые композитные панели."
			},
			{
				"title": "АРХИТЕКТУРНАЯ ПОДСВЕТКА",
				"descr": "Фактурные фасады будут подчёркнуты деликатным наружным освещением, выделяя облик дома в вечернее время."
			},
		],
		"plan": [
			{
				"title": "собственные веранды"
			},
			{
				"title": "витражное остекление"
			},
			{
				"title": "французские балконы"
			},
			{
				"title": "ванные комнаты с окном"
			},
			{
				"title": "камин на верхнем этаже"
			},
		],
		"news": [
			{
				"img": "1",
				"title": "Открывается старт продаж",
				"descr": "Подробности акции и наличие квартир уточняйте в отделе продаж. Подробности акции и наличие квартир уточняйте в отделе продаж",
				"link": "Подробнее",
			},
			{
				"img": "2",
				"title": "акция 2",
				"descr": "Описание акции 2",
				"link": "Подробнее",
			},
			{
				"img": "1",
				"title": "Открывается старт продаж",
				"descr": "Подробности акции и наличие квартир уточняйте в отделе продаж.",
				"link": "Подробнее",
			},
		],
		"offers": [
			{
				"img": "dom-rf",
				"name": "ДомРФ",
			},
			{
				"img": "sber",
				"name": "Сбербанк",
			},
			{
				"img": "alfa-bank",
				"name": "Альфа-банк",
			},
			{
				"img": "ros-b",
				"name": "Росбанк",
			},
			{
				"img": "vtb",
				"name": "ВТБ",
			},
		],
		"dynamic": [
			{
				"date": "Сентябрь, <span>2025</span>",
			},
			{
				"date": "Октябрь, <span>2025</span>",
			},
			{
				"date": "Декабрь, <span>2025</span>",
			},
			{
				"date": "Октябрь, <span>2025</span>",
			},
		],
		"interior": [
			{
				"img": "1",
				"alt": "Интерьер 1",
			},
			{
				"img": "2",
				"alt": "Интерьер 2",
			},
			{
				"img": "3",
				"alt": "Интерьер 3",
			},
			{
				"img": "1",
				"alt": "Интерьер 4",
			},
		],
		"gallery": [
			{
				"img": "1",
				"alt": "Изображение 1",
			},
			{
				"img": "2",
				"alt": "Изображение 2",
			},
			{
				"img": "3",
				"alt": "Изображение 3",
			},
			{
				"img": "4",
				"alt": "Изображение 4",
			},
			{
				"img": "5",
				"alt": "Изображение 5",
			},
			{
				"img": "6",
				"alt": "Изображение 6",
			},
			{
				"img": "7",
				"alt": "Изображение 7",
			},
			{
				"img": "8",
				"alt": "Изображение 8",
			},
		]
	},
	places = [
		{
			"title": "Нижегородский <br> кремль",
			"type": "kremlin",
		},
		{
			"title": "ул. Большая <br> Покровская",
			"type": "pokrovskaya",
		},
		{
			"title": "Исторические <br> места",
			"type": "history",
		},
		{
			"title": "Спорт",
			"type": "sport",
		},
		{
			"title": "Образование",
			"type": "education",
		},
		{
			"title": "Здравохранение",
			"type": "health",
		},
		{
			"title": "Магазины",
			"type": "shop",
		},
	],
	advantages = [
		{
			"number": "6",
			"label": "этажей",
			"descr": "Малая этажность дома",
		},
		{
			"number": "56",
			"label": "парковочных мест",
			"descr": "В двухуровневом подземном паркинге",
		},
		{
			"number": "37",
			"label": "квартир",
			"descr": "Небольшое количество квартир подчёркивает клубный формат жилого комплекса",
		},
		{
			"number": "58<span>м<sup>2</sup></span> - 217<span>м<sup>2</sup></span>",
			"descr": "Площадь квартир",
		},
		{
			"number": "237<span>м<sup>2</sup></span> - 367<span>м<sup>2</sup></span>",
			"descr": "Площадь коммерческих помещений",
		},
		{
			"number": "3 квартал 2025 г.",
			"descr": "Ввод в эксплуатацию",
		},
	],
	unique = {
		"tabs": [
			"Утонченный вкус",
			"Внимание к деталям",
			"Возможность выбора",
			"Ощущение роскоши",
			"Индивидуальность стиля",
			"Технологии для безусловного комфорта",
		]
	},
	tehnology = {
		"accordeon": [
			{
				"header": "система безопасности",
				"content": "Система безопасности, умная система передачи показаний и ip-телефония - в доме будет всё, чтобы вы не тратили энергию и время на бытовые вопросы.",
			},
			{
				"header": "лифты",
				"content": "Бесшумные скоростные лифты будут установлены в каждом крыле дома.",
			},
			{
				"header": "очистка воды",
				"content": "В доме предусмотрена центральная система очистки воды, которая обеспечивает все квартиры питьевой водой из крана",
			},
		]
	},
	footer = [
		{
			"label": "О проекте",
			"list": [
				{
					"title": "Преимущества",
					"link": "/"
				},
				{
					"title": "Генплан",
					"link": "/"
				},
				{
					"title": "Ход строительства",
					"link": "/"
				},
				{
					"title": "Расположение",
					"link": "/"
				},
			]
		},
		{
			"label": "Недвижимость",
			"list": [
				{
					"title": "Квартиры в продаже",
					"link": "/"
				},
				{
					"title": "Парковки",
					"link": "/"
				},
				{
					"title": "Коммерческая недвижимость",
					"link": "/"
				},
			]
		},
	],
	flat = {
		"preview": [
			{
				"title": "Квартира №2",
				"price": "По запросу",
				"images": ["1", "2", "3", "4"],
				"details": [
					{
						"caption": "Этаж",
						"value": "2"
					},
					{
						"caption": "Спальни",
						"value": "3"
					},
					{
						"caption": "Площадь",
						"value": "152"
					},
				]
			},
			{
				"title": "Квартира №3",
				"price": "По запросу",
				"images": ["2", "3", "4", "1"],
				"details": [
					{
						"caption": "Этаж",
						"value": "2"
					},
					{
						"caption": "Спальни",
						"value": "3"
					},
					{
						"caption": "Площадь",
						"value": "152"
					},
				]
			},
			{
				"title": "Квартира №5",
				"price": "По запросу",
				"images": ["3", "4", "1", "2"],
				"badges": ["с верандой", "ванная с окном"],
				"details": [
					{
						"caption": "Этаж",
						"value": "2"
					},
					{
						"caption": "Спальни",
						"value": "3"
					},
					{
						"caption": "Площадь",
						"value": "152"
					},
				]
			},
			{
				"title": "Квартира №6",
				"price": "По запросу",
				"images": ["4", "1", "2", "3"],
				"details": [
					{
						"caption": "Этаж",
						"value": "2"
					},
					{
						"caption": "Спальни",
						"value": "3"
					},
					{
						"caption": "Площадь",
						"value": "152"
					},
				]
			},
			{
				"title": "Квартира №7",
				"price": "По запросу",
				"images": ["3", "4", "2", "1"],
				"details": [
					{
						"caption": "Этаж",
						"value": "2"
					},
					{
						"caption": "Спальни",
						"value": "3"
					},
					{
						"caption": "Площадь",
						"value": "152"
					},
				]
			},
			{
				"title": "Квартира №172",
				"price": "По запросу",
				"images": ["4", "1", "2", "3"],
				"details": [
					{
						"caption": "Этаж",
						"value": "2"
					},
					{
						"caption": "Спальни",
						"value": "3"
					},
					{
						"caption": "Площадь",
						"value": "152"
					},
				]
			},
			{
				"title": "Квартира №172",
				"price": "По запросу",
				"images": ["4", "1", "2", "3"],
				"details": [
					{
						"caption": "Этаж",
						"value": "2"
					},
					{
						"caption": "Спальни",
						"value": "3"
					},
					{
						"caption": "Площадь",
						"value": "152"
					},
				]
			},
			{
				"title": "Квартира №7",
				"price": "По запросу",
				"images": ["4", "1", "2", "3"],
				"details": [
					{
						"caption": "Этаж",
						"value": "2"
					},
					{
						"caption": "Спальни",
						"value": "3"
					},
					{
						"caption": "Площадь",
						"value": "152"
					},
				]
			},
			{
				"title": "Квартира №172",
				"price": "По запросу",
				"images": ["4", "1", "2", "3"],
				"details": [
					{
						"caption": "Этаж",
						"value": "2"
					},
					{
						"caption": "Спальни",
						"value": "3"
					},
					{
						"caption": "Площадь",
						"value": "152"
					},
				]
			},
			{
				"title": "Квартира №172",
				"price": "По запросу",
				"images": ["4", "1", "2", "3"],
				"details": [
					{
						"caption": "Этаж",
						"value": "2"
					},
					{
						"caption": "Спальни",
						"value": "3"
					},
					{
						"caption": "Площадь",
						"value": "152"
					},
				]
			},
			{
				"title": "Квартира №172",
				"price": "По запросу",
				"images": ["4", "1", "2", "3"],
				"details": [
					{
						"caption": "Этаж",
						"value": "2"
					},
					{
						"caption": "Спальни",
						"value": "3"
					},
					{
						"caption": "Площадь",
						"value": "152"
					},
				]
			},
			{
				"title": "Квартира №7",
				"price": "По запросу",
				"images": ["3", "4", "1", "2"],
				"details": [
					{
						"caption": "Этаж",
						"value": "2"
					},
					{
						"caption": "Спальни",
						"value": "3"
					},
					{
						"caption": "Площадь",
						"value": "152"
					},
				]
			},
		]
	};
