// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 100%;

// Общий отступ у контейнера
$containerPadding: 200;

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// Ширина страбатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;
// Брейкпоинты
$pc: $containerWidth + px;
$xs: 479.98px;
$sm: 576px;
$md: 767.98px;
$lg: 991.98px;
$xl: 1023px;
$xxl: 1200px;
$xxxl: 1400px;

// (i) Стили будут применяться ко всем классам содержащим *__container. Например header__container, footer__container и т.д.
@if ($responsiveType == 1) {
    // Отзывчивая
    [class*="__container"] {
        @if ($maxWidthContainer > 0) {
            max-width: $maxWidthContainer;
            margin: 0 auto;
        }
        @if ($containerPadding > 0) {
            padding: 0 math.div($containerPadding, 2) + px;
        }
    }
} @else {
    // По брейк-поинтам
    [class*="__container"] {
        margin: 0 auto;
        @if ($maxWidthContainer > 0) {
            max-width: $maxWidthContainer + px;
        }
        @if ($containerPadding > 0) {
            padding: 0 math.div($containerPadding, 2) + px;
        }
        @media (max-width: $xxl) {
            max-width: 980px;
        }
        @media (max-width: $lg) {
            max-width: 750px;
        }
        @media (max-width: $md) {
            max-width: 620px;
        }
        @media (max-width: $sm) {
            max-width: 100%;
        }
    }
}

// размеры шрифтов
$fontSize: 16px;

// Основные Цвета
$mainColor: #141414;
$whiteColor: #ffffff;

$black: #141414;
$black_secondary: #2d2620;
$red: #d94625;
$orange: #f07305;
$gray: #eaeaea;
$brown: #beafa3;
$gray_light: #f7f7f7;
$white: #fff;
$gray_dark: #535250;
$gray_text: #bcbcbc;

$red_hover: #c53211;
$red_focus: #b11e00;

$disabled: #bcbcbc;

$gray_btn_hover: rgba(132, 132, 132, 0.05);
$gray_btn_focus: rgba(132, 132, 132, 0.2);
$gray_btn_disabled: rgba(132, 132, 132, 0.05);

// Шрифты
$fontWeight: 400;
$fontFamily: "Cambria", sans-serif;
