body.index {
    & .header.header-duplicate {
        position: fixed;
    }
}
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 140px;
    padding: 40px 0 40px;
    color: $white;
    z-index: 10;
    transition: transform 0.5s ease 0s;
    transform: translateY(-120%);
    @media screen and (max-width: $lg) {
        padding: 13px 0 13px;
        min-height: 76px;
    }
    @media screen and (max-width: $lg) {
        transform: translateY(0);
    }
    &.hidden {
        transform: translateY(-100%);
    }
    &.header-duplicate {
        position: sticky;
        transform: none;
        min-height: 140px;
        border-bottom: 1px solid $gray;
        background: #f9f9f9;
        backdrop-filter: blur(4.849999904632568px);
        color: $black;
        & .header-burger {
            color: $black;
            border: 1px solid $black;
            &__lines {
                & span {
                    background-color: $black;
                }
            }
        }
        & .header__phone {
            color: $black;
        }
        & .header__logo {
            backdrop-filter: none;
            background: 0;
        }

        &.hidden {
            transform: translateY(-100%);
        }
    }
    &__body {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: $lg) {
            align-items: flex-start;
        }
    }
    &__logo {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        width: 197px;
        padding: 16px 26px;
        height: 139px;
        border-radius: 0px 0px 40px 40px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-top: none;
        background: rgba(132, 132, 132, 0.05);
        backdrop-filter: blur(4px);
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: $lg) {
            // position: relative;
            // top: -13px;
            // left: 0;
            // transform: none;
            width: 107px;
            height: 76px;
            padding: 8px;
            border-radius: 0px 0px 20px 20px;
        }
    }
    &__actions {
        display: flex;
        align-items: center;
        gap: 30px;
        color: $white;
        @media screen and (max-width: $lg) {
            align-items: flex-start;
        }
    }
    &__phone {
        font-size: 22px;
        font-weight: 400;
        line-height: 100%;
        &-icon {
            width: 50px;
            height: 50px;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            border: 1px solid rgba(255, 255, 255, 0.3);
            background: rgba(132, 132, 132, 0.05);
            backdrop-filter: blur(1.399999976158142px);
            display: none;
            &::before {
                content: "";
                display: block;
                background-color: $white;
                mask-image: url("../images/icons/phone.svg");
                mask-repeat: no-repeat;
                mask-position: center;
                width: 18px;
                height: 18px;
            }
            @media screen and (max-width: $xxl) {
                display: flex;
            }
        }
        &-text {
            @media screen and (max-width: $xxl) {
                display: none;
            }
        }
    }
    &__choice {
        font-size: 18px;
        line-height: 120%;
        min-height: 51px;
        padding: 10px 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 57px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        background: rgba(132, 132, 132, 0.05);
        backdrop-filter: blur(1.5px);
        @media screen and (max-width: $lg) {
            display: none;
        }
    }
}
.header-burger {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 24px;
    gap: 16px;
    min-height: 59px;
    border-radius: 75px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(132, 132, 132, 0.05);
    backdrop-filter: blur(1.399999976158142px);
    font-size: 18px;
    line-height: 120%;
    position: relative;
    z-index: 5;
    @media screen and (max-width: $lg) {
        width: 50px;
        height: 50px;
        flex-shrink: 0;
        border-radius: 50%;
        padding: 0;
        min-height: auto;
    }
    &__text {
        @media screen and (max-width: $lg) {
            display: none;
        }
    }
    &__lines {
        width: 23px;
        height: 15px;
        position: relative;
        flex-shrink: 0;
        @media screen and (max-width: $lg) {
            width: 18px;
            height: 18px;
        }
        & span {
            position: absolute;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $white;
            transition: all 0.3s ease 0s;
            &:nth-child(1),
            &:nth-child(3) {
                width: 18px;
            }
            &:nth-child(2) {
                top: 7.3px;
                @media screen and (max-width: $lg) {
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            &:nth-child(1) {
                top: 1px;
                @media screen and (max-width: $lg) {
                    top: 3px;
                }
            }
            &:nth-child(3) {
                bottom: 1px;
                @media screen and (max-width: $lg) {
                    bottom: 3px;
                }
            }
        }
    }
}

.menu-header {
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    min-height: 100dvh;
    transform: translateX(-100%);
    transition: transform 1s ease 0s;
    &.is-active {
        transform: translateX(0%);
        transition: transform 1s ease 0s;
    }
    // background-color: rgba($black, 0.7);
    & .header-burger {
        max-width: 136px;
        margin-bottom: 60px;
        border-radius: 75px;
        border: 1px solid $black;
        backdrop-filter: blur(1.399999976158142px);
        background-color: transparent;
        &__lines {
            & span {
                background-color: $black;
                width: 23px;
                &:nth-child(1) {
                    top: 50%;
                    transform: translateY(-50%) rotate(28deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:nth-child(3) {
                    bottom: auto;
                    top: 50%;
                    transform: translateY(-50%) rotate(-28deg);
                }
            }
        }
    }
    &__wrapper {
        width: 40%;
        background-color: $white;
        color: $black;
        height: 100%;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            width: 200px;
            height: 204px;
            background-image: url("../images/menu-decor.svg");
            background-position: 100% 100%;
            background-repeat: no-repeat;
            opacity: 0.24;
        }
    }
    &__content {
        padding: 40px 100px 40px;
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: relative;
        height: 100%;
        &::-webkit-scrollbar {
            display: none;
            background: none;
            width: 0;
            height: 0;
        }
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
            background-color: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background: transparent;
            width: 0;
            height: 0;
        }
    }
    &__body {
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
        ul {
            @include reset-list;
            display: flex;
            flex-direction: column;
            gap: 12px;
        }
    }
    &__main {
        width: fit-content;
        padding-bottom: 16px;
        border-bottom: 1px solid #eaeaea;
        & a {
            color: $black;
            font-family: "Forum", sans-serif;
            font-size: 60px;
            line-height: 130%;
            text-transform: uppercase;
            transition: color 0.3s ease 0s;
            @media (any-hover: hover) {
                &:hover {
                    color: $red;
                }
            }
        }
    }
    &__anchor {
        & a {
            font-family: "Forum", sans-serif;
            font-size: 24px;
            line-height: 130%;
            text-transform: uppercase;
            transition: color 0.3s ease 0s;
            @media (any-hover: hover) {
                &:hover {
                    color: $red;
                }
            }
            &.active {
                color: $red;
            }
        }
    }
    &__bottom {
        margin-top: auto;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    &__label {
        font-family: "Forum", sans-serif;
        font-size: 24px;
        line-height: 130%;
        text-transform: uppercase;
    }
    &__address,
    &__phone {
        color: $gray_dark;
        font-size: 16px;
        font-style: normal;
        line-height: 130%;
    }
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    min-height: 100dvh;
    z-index: 10;
    background-color: rgba($black, 0.7);
    opacity: 0;
    pointer-events: none;
    // transition: all 0.3s;
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    // clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    &.is-active {
        animation: overlay 1s forwards 0s;
        opacity: 1;
    }
}
@keyframes overlay {
    0% {
        opacity: 0;
        clip-path: "polygon(0 0, 0 0, 0 100%, 0% 100%)";
    }
    100% {
        opacity: 1;
        clip-path: "polygon(0 0, 100% 0, 100% 100%, 0 100%)";
    }
}
