extends includes/layout.pug

append variables
	- let pageTitle = "Текстовая страница";
	- description += pageTitle;
	- home = false;
block header 
	header.header.header-duplicate
		.container
			.header__body
				button(type="button").header-burger
					span.header-burger__lines 
						span 
						span 
						span 
					span.header-burger__text Меню
				a.header__logo
					picture 
						source(srcset="images/header-logo-black.svg" media="(min-width: 767px)" alt="логотип")
						source(srcset="images/header-logo-black.svg" media="(min-width: 300px)" alt="логотип")
						img(src="images/header-logo-black.svg", alt="логотип")
				.header__actions
					a(href="tel:79290121923").header__phone +7 929 012 19 23
					a(href="#").btn Подобрать квартиру
block content
	.text-page
		.container 
			.text-page__body
				.text-page__top 
					a(href="/").btn-back 
						span.btn-back__icon
						| вернуться назад
				h1 h1 политика конфиденциальности
				h2 h2 заголовок
				h3 h3 заголовок
				.text-page__content 
					p Мы вынуждены отталкиваться от того, что синтетическое тестирование не даёт нам иного выбора, кроме определения экспериментов, поражающих по своей масштабности и грандиозности. Для современного мира современная методология разработки предопределяет высокую востребованность экономической целесообразности принимаемых решений.
					p Кстати, представители современных социальных резервов, превозмогая сложившуюся непростую экономическую ситуацию, описаны максимально подробно. Для современного мира современная методология разработки напрямую зависит от форм воздействия. Как принято считать, предприниматели в сети интернет представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть объективно рассмотрены соответствующими инстанциями. Идейные соображения высшего порядка, а также укрепление и развитие внутренней структуры требует анализа модели развития.
					p Кстати, представители современных социальных резервов, превозмогая сложившуюся непростую экономическую ситуацию, описаны максимально подробно. Для современного мира современная методология разработки напрямую зависит от форм воздействия. Как принято считать, предприниматели в сети интернет представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть объективно рассмотрены соответствующими инстанциями. Идейные соображения высшего порядка, а также укрепление и развитие внутренней структуры требует анализа модели развития.
				h4 h4 заголовок
				ul 
					li собственные веранды
					li витражное остекление
					li французские балконы
					li ванные комнаты с окном
					li камин на верхнем этаже
				.text-page__content 
					p Мы вынуждены отталкиваться от того, что синтетическое тестирование не даёт нам иного выбора, кроме определения экспериментов, поражающих по своей масштабности и грандиозности. Для современного мира современная методология разработки предопределяет высокую востребованность экономической целесообразности принимаемых решений. 
				table 
					thead 
						tr 
							th Варианты отделки
							th Варианты планировок
							th Варианты планировок
							th Варианты планировок
					tbody 
						tr  
							td Черновая отделка
							td 1, 1+, 2, 3
							td 1, 1+, 2, 3
							td 1, 1+, 2, 3
						tr  
							td Дизайнерская отделка под ключ
							td 2, 2+, 3, 3+
							td 2, 2+, 3, 3+
							td 2, 2+, 3, 3+
	.gallery
		.container 
			.heading-block
				h2.heading-block__title фотогаллерея
			.gallery__body
				each item in slider.gallery
					a(href=`images/gallery/${item.img}.jpg`).gallery-item
						img(src=`images/gallery/${item.img}.jpg`, alt=item.alt)

