header.header#header
	.container
		.header__body
			button(type="button").header-burger
				span.header-burger__lines 
					span 
					span 
					span 
				span.header-burger__text Меню
			a(href="/").header__logo
				picture
					source(srcset="images/logo-white.svg" media="(min-width: 991.98px)")
					source(srcset="images/logo-white-mobile.svg" media="(min-width: 300px)")
					img(src="images/logo-white.svg", alt="логотип")
			.header__actions
				a(href="tel:79290121923").header__phone 
					span.header__phone-text +7 929 012 19 23
					span.header__phone-icon
				a(href="#").header__choice Подобрать квартиру
include ./header-duplicate.pug
include ./menu.pug