.home {
    height: 100vh;
    min-height: 100vh;
    overflow: clip;
    position: relative;
}
.home-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &__body {
        height: 100%;
    }
    &__wrapper {
        height: 100%;
    }
    &__item {
        height: 100%;
    }
}
.item-home {
    height: 100%;
    color: $white;
    font-family: "Forum", sans-serif;
    &.swiper-slide-active {
        & .item-home__title {
            opacity: 1;
        }
        & .item-home__address {
            opacity: 1;
        }
        & .item-home__info {
            opacity: 1;
        }
    }
    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        & img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__content {
        padding: 70px 100px 113px;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        z-index: 2;
    }
    &__left {
        max-width: 486px;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        gap: 9px;
    }
    &__title {
        font-size: 80px;
        line-height: 110%;
        text-transform: uppercase;
        transition: opacity 0.5s;
        transition-delay: 1s;
        opacity: 0;
        @media screen and (min-height: 900px) {
            font-size: 114px;
        }
    }
    &__address {
        font-size: 28px;
        font-weight: 400;
        line-height: 120%;
        text-transform: uppercase;
        transition: opacity 0.5s;
        transition-delay: 1.2s;
        opacity: 0;
    }
    &__info {
        padding: 8px 0 8px 12px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
        gap: 8px;
        transition: opacity 0.5s;
        transition-delay: 1.2s;
        opacity: 0;
    }
    &__total {
        font-size: 36px;
        font-weight: 400;
        line-height: 120%;
        text-transform: uppercase;
    }
    &__link {
        font-family: "Cambria", sans-serif;
        font-size: 18px;
        line-height: 120%;
        position: relative;
        color: $white;
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            border-bottom: 1px solid currentColor;
        }
    }
}
.slider-controls {
    display: flex;
    align-items: center;
    gap: 13px;
}
.slider-button {
    display: flex;
    justify-content: center;
    align-items: center;
    &::before {
        content: "";
        display: block;
        background-color: $red;
        mask-repeat: no-repeat;
        mask-position: center;
    }
    &-prev {
        &::before {
            mask-image: url("../images/icons/arrow-prev.svg");
        }
    }
    &-next {
        &::before {
            mask-image: url("../images/icons/arrow-next.svg");
        }
    }
}
.home {
    & .slider-controls {
        position: absolute;
        height: 34px;
        bottom: 113px;
        left: 100px;
        z-index: 2;
    }
    .slider-button {
        height: 100%;
        width: 40px;
        border-color: transparent;
        &::before {
            width: 40px;
            height: 10px;
        }
    }
}
.slider-pagination {
    display: flex;
    align-items: center;
    gap: 2px;
    color: $white;
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    height: 34px;
    & .slider-pagination-current {
        font-size: 30px;
    }
    & .slider-pagination-total {
        font-size: 20px;
        margin-top: 15px;
    }
}

// unique
.unique {
    padding: 150px 0 70px;
    position: relative;
    background: url("../images/unique/bg-left.svg"),
        url("../images/unique/bg-right.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: -30% 19px, 100% 63%;
    background-size: 840px 843px, 844px 845px;
    & .heading-block {
        max-width: 726px;
        margin: 0 30% 0 25%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 30px;
        &__subtitle {
            max-width: 370px;
        }
    }
    &__wrapper {
        padding: 157px 117px 0 146px;
    }
    &__body {
        display: grid;
        grid-template-columns: 1fr 637px;
        align-items: start;
        gap: 80px;
    }
    &__tabs {
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
        padding-top: 90px;
    }
    &__tab {
        color: $black;
        font-family: "Forum", sans-serif;
        font-size: 50px;
        line-height: 130%;
        text-transform: uppercase;
        position: relative;
        padding-bottom: 30px;
        background: linear-gradient(
            90deg,
            $black var(--width),
            $gray var(--width)
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.5s ease 0s;
        &.is-active {
            &::before {
                width: var(--width);
            }
        }
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            height: 1px;
            background-color: $red;
            transform-origin: right;
            transition: all 0.5s ease-in-out 0s;
        }
        // &::after {
        //     content: "test";
        //     position: absolute;
        //     top: 0;
        //     right: 0;
        //     transform-origin: left;
        //     width: 100%;
        //     height: 100%;
        //     background: linear-gradient(
        //         90deg,
        //         $black var(--width),
        //         $gray var(--width)
        //     );
        //     background-clip: text;
        //     -webkit-background-clip: text;
        //     -webkit-text-fill-color: transparent;
        //     transition: all 1s ease-in-out 0s;
        // }
    }
    &__images {
        position: relative;
        z-index: 2;
        &::after {
            content: "";
            position: absolute;
            bottom: -14px;
            right: -14px;
            display: block;
            width: 193px;
            height: 335px;
            background-image: url("../images/unique/decor.png");
            background-repeat: no-repeat;
            background-position: center;
            z-index: -1;
        }
    }
    &__image {
        padding-bottom: math.div(696, 637) * 100%;
    }
}

// history

.history {
    padding: 75px 0 75px;
    & .heading-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__title {
            flex: 1 1 auto;
            max-width: 1000px;
        }
    }
    &__body {
        position: relative;
        width: 100%;
        height: 783px;
    }
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: scale(0);
        z-index: 2;
        & img {
            @extend .history__overlay;
            object-fit: cover;
        }
    }
    &__places {
        position: absolute;
        display: grid;
        align-items: center;
        height: 100%;
        left: 0;
        width: 80px;
        padding: 0 20px 0 0;
        background-color: $white;
    }
    &__items {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    &__place {
        display: flex;
        align-items: center;
        &.active {
            & .history__icon {
                border: 1px solid $orange;
                background-color: $orange;
                &::before {
                    background-color: $white;
                }
            }
        }
        &--1 {
            & .history__icon {
                &::before {
                    mask-image: url("../images/history/icon-1.svg");
                }
            }
        }
        &--2 {
            & .history__icon {
                &::before {
                    mask-image: url("../images/history/icon-2.svg");
                }
            }
        }
        &--3 {
            & .history__icon {
                &::before {
                    mask-image: url("../images/history/icon-3.svg");
                }
            }
        }
        &--4 {
            & .history__icon {
                &::before {
                    mask-image: url("../images/history/icon-4.svg");
                }
            }
        }
        &--5 {
            & .history__icon {
                &::before {
                    mask-image: url("../images/history/icon-5.svg");
                }
            }
        }
        &--6 {
            & .history__icon {
                &::before {
                    mask-image: url("../images/history/icon-6.svg");
                }
            }
        }
        &--7 {
            & .history__icon {
                &::before {
                    mask-image: url("../images/history/icon-7.svg");
                }
            }
        }
    }
    &__icon {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $red;
        position: relative;
        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 36px;
            height: 36px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            mask-position: center;
            mask-repeat: no-repeat;
            background-color: $red;
        }
    }
    &__label {
        color: #535250;
        font-family: Cambria;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        white-space: nowrap;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        margin-left: 20px;
    }
    &__map {
        width: 100%;
        height: 100%;
        & img {
            width: 100%;
            height: 100%;
        }
    }
}
.address-heading {
    display: grid;
    grid-template-columns: repeat(2, 208px);
    align-items: flex-start;
    gap: 50px;
    &__item {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    &__name {
        color: $black_secondary;
        font-family: "Forum", sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 130%;
        text-transform: uppercase;
    }
    &__time {
        color: $red;
        font-size: 18px;
        font-weight: 400;
        line-height: 130%;
        display: flex;
        align-items: flex-end;
        gap: 10px;
        &::before {
            content: "";
            display: block;
            mask-image: url("../images/icons/people.svg");
            mask-repeat: no-repeat;
            mask-position: center;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $red;
        }
    }
}
.history-slider {
    width: 389px;
    height: 496px;
    position: absolute;
    bottom: 20px;
    right: 30px;
    border-radius: 7px;
    overflow: hidden;
    &__body {
        height: 100%;
    }
    &__wrapper {
    }
    &__item {
        height: 100%;
        padding: 20px 20px 87px;
        display: flex;
        align-items: flex-end;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.4) 19.06%,
                rgba(0, 0, 0, 0) 58.15%
            );
            z-index: 1;
        }
    }
    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        & img {
            @extend .history-slider__image;
            object-fit: cover;
        }
    }
    &__content {
        width: 100%;
        position: relative;
        z-index: 2;
        color: $white;
        font-family: "Forum", sans-serif;
        font-size: 24px;
        line-height: 130%;
        text-transform: uppercase;
    }
    & .slider-controls {
        position: absolute;
        width: 100%;
        display: flex;
        align-items: center;
        bottom: 20px;
        padding: 0 20px;
        z-index: 2;
    }
    & .slider-button {
        width: 55px;
        height: 55px;
        flex-shrink: 0;
        border-radius: 50%;
        border: 1px solid $white;
        transition: all 0.3s ease 0s;
        &::before {
            content: "";
            display: block;
            background-color: $white;
            display: block;
            width: 20px;
            height: 20px;
            mask-position: center;
            mask-repeat: no-repeat;
        }
        &.swiper-button-disabled {
            pointer-events: none;
            cursor: default;
            opacity: 0.5;
        }
    }
    & .slider-button-prev {
        &::before {
            mask-image: url("../images/icons/arrow-sm-prev.svg");
        }
    }
    & .slider-button-next {
        &::before {
            mask-image: url("../images/icons/arrow-sm-next.svg");
        }
    }
}

// advantages
.advantages {
    padding: 75px 0 75px;
    &__body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    &__item {
        min-height: 334px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        align-content: flex-end;
        padding: 40px;
        padding-top: 120px;
        &:nth-child(n + 4) {
            & .advantages__number {
                font-size: 60px;
            }
        }
        &:nth-child(-n + 3) {
            justify-content: flex-start;
        }
        border: 1px solid $gray;
        border-right: none;
        &:nth-child(n + 4) {
            border-top: none;
        }
        &:nth-child(3n + 3) {
            border-right: 1px solid $gray;
        }
    }
    &__number {
        color: $red;
        font-family: "Forum", sans-serif;
        font-size: 80px;
        line-height: 110%;
        text-transform: uppercase;
        & span {
            font-size: 24px;
        }
    }
    &__label {
        color: $red;
        font-size: 18px;
        line-height: 110%;
        margin-bottom: 10px;
    }
    &__description {
        margin-top: 10px;
        color: #535250;
        font-size: 18px;
        line-height: 130%;
    }
}

// architecture
.architecure {
    padding: 75px 0 75px;
    &__content {
        position: absolute;
        bottom: 60px;
        left: 13%;
        min-height: 210px;
        padding: 30px;
        width: 490px;
        background-color: $white;
        display: flex;
        flex-direction: column;
    }
    &__title {
        color: $red;
        font-family: "Forum", sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 130%;
        text-transform: uppercase;
        margin-bottom: 19px;
    }
    &__description {
        color: $gray_dark;
        font-size: 14px;
        line-height: 130%;
    }
    & .slider-controls {
        justify-content: flex-end;
        margin-top: 30px;
        max-width: 41px;
        margin-left: auto;
    }
    & .slider-pagination {
        color: $black;
        font-weight: 400;
    }
    & .slider-pagination-current {
        color: $red;
    }
    & .slider-pagination-line {
        font-size: 25px;
    }
    & .slider-button {
        background-color: $white;
        opacity: 0;
        position: fixed;
        pointer-events: none;
        transition: transform 0.3s ease 0s;
        z-index: 5;
        border-color: transparent;
        &.is-visible {
            opacity: 1;
            pointer-events: all;
        }
    }
}
.architecure-slider {
    position: relative;
    &__body {
        height: 100%;
    }
    &__wrapper {
    }
    &__item {
        height: 100%;
    }
    &__image {
        padding-bottom: math.div(897, 1920) * 100%;
        & img {
        }
    }
}

// free plan
.free-plan {
    padding: 75px 0;
    & .heading-block {
        margin-bottom: 0;
    }
    &__body {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        padding-left: 9%;
    }
    &__actions {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 32px;
        max-width: 583px;
    }
    &__tabs {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    &__tab {
        color: $black;
        font-size: 18px;
        font-weight: 400;
        line-height: 130%;
        position: relative;
        padding-left: 32px;
        cursor: pointer;
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 12px;
            left: 0;
            width: 20px;
            height: 1px;
            background-color: currentColor;
        }
        &.is-active {
            color: $red;
        }
    }
}
.free-plan-slider {
    flex: 0 1 845px;
    position: relative;
    z-index: 2;
    padding: 15px 0 0 15px;
    &::before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 33.5vw;
        height: 255px;
        background-image: url("../images/plan/decor.png");
        background-repeat: no-repeat;
    }

    &__body {
        max-width: 845px;
    }
    &__wrapper {
    }
    &__item {
    }
    &__image {
        padding-bottom: math.div(580, 845) * 100%;
    }
}
