.text-page {
    &__body {
        max-width: 1283px;
    }
    &__top {
        padding: 80px 0 40px;
        @media screen and (max-width: $lg) {
            padding: 40px 0 40px;
        }
    }
    & h1 {
        font-size: 60px;
        @media screen and (max-width: $lg) {
            font-size: 40px;
        }
    }
    & h2 {
        font-size: 50px;
        @media screen and (max-width: $lg) {
            font-size: 30px;
        }
    }
    & h3 {
        font-size: 36px;
        @media screen and (max-width: $lg) {
            font-size: 24px;
        }
    }
    & h4 {
        font-size: 28px;
        @media screen and (max-width: $lg) {
            font-size: 20px;
        }
    }
    & h1,
    h2,
    h3,
    h4 {
        font-family: "Forum", sans-serif;
        line-height: 130%;
        text-transform: uppercase;
        margin-bottom: 20px;
        font-weight: 400;
        hyphens: auto;
    }
    &__content {
        color: $gray_dark;
        font-size: 18px;
        line-height: 130%;
        margin: 30px 0 30px;
        @media screen and (max-width: $lg) {
            font-size: 16px;
        }
        &--first {
            margin-top: 40px;
            @media screen and (max-width: $lg) {
                margin-top: 30px;
            }
        }
        & p {
            &:not(:last-child) {
                margin-bottom: 14px;
            }
        }
    }
    & ul {
        @include reset-list;
        display: flex;
        flex-direction: column;
        gap: 9px;
        li {
            color: $gray_dark;
            font-size: 18px;
            line-height: 130%;
            position: relative;
            padding-left: 32px;
            @media screen and (max-width: $lg) {
                font-size: 16px;
            }
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 12px;
                width: 20px;
                height: 1px;
                background-color: $black;
            }
        }
    }
    &__table {
        overflow-x: auto;
        overflow-y: hidden;
        min-width: 300px;
        @media screen and (max-width: $lg) {
            margin: 0 -16px;
        }
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
            background: 0;
        }
        &::-webkit-scrollbar-thumb {
            width: 0;
            height: 0;
            background: 0;
        }
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-moz-scrollbar {
            display: none;
        }
    }
    & table {
        width: 100%;
        border: 1px solid $gray;
        font-size: 16px;
        line-height: 24px;
        border-collapse: collapse;
        @media screen and (max-width: $lg) {
            border-right: none;
            border-left: none;
        }
        & thead {
            & th {
                border-bottom: 1px solid $gray;
            }
        }
        & tr {
            display: grid;
            grid-template-columns: 415px 290px 290px 290px;
            @media screen and (max-width: $xxxl) {
                grid-template-columns: 1fr repeat(3, 150px);
            }
            & > *:not(:last-child) {
                border-right: 1px solid $gray;
            }
            &:not(:last-child) {
                border-bottom: 1px solid $gray;
            }
        }
        & th {
            font-weight: 700;
            font-size: 16px;
            padding: 14px 24px;
            text-align: left;
            min-height: 56px;
            border: none;
            @media screen and (max-width: $lg) {
                font-size: 14px;
            }
        }
        & td {
            font-size: 18px;
            padding: 12px 24px;
            min-height: 53px;
            border: none;
            @media screen and (max-width: $lg) {
                font-size: 14px;
            }
        }
    }
    a:not(.gallery-item) {
        cursor: pointer;
        color: $red;
        border-bottom: 1px solid transparent;
        transition: border-bottom 0.2s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                border-bottom: 1px solid $red;
            }
        }
        &:link {
            color: $red;
        }
        &:visited {
            color: rgba($red, 0.2);
        }
    }
    a.btn-back {
        border: none;
        @media (any-hover: hover) {
            &:hover {
                border: none;
            }
        }
    }
}
.text-page {
    & .gallery {
        padding: 120px 0 75px;
        @media screen and (max-width: $lg) {
            padding: 70px 0 35px;
        }
    }
}
.gallery {
    & .heading-block {
        @media screen and (max-width: $lg) {
            margin-bottom: 20px;
        }
        &__title {
            margin: 0;
        }
    }
    &__body {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 32px;
        @media screen and (max-width: $xxl) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media screen and (max-width: $lg) {
            gap: 16px;
        }
        @media screen and (max-width: $md) {
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
        }
    }
}
